.head{
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: flex-end;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.navbar>a{
    color: white;
    text-decoration: none;
    margin: 2%;
    
}
.navbar>a:hover{
    color: black;
    background-color: aquamarine;
    border-width: 0.5vw;
    border-style: solid;
    border-color: aquamarine;
    margin: 0%;
}
.menu{
    display: none;
}
#products:hover, .menu{
    display: block;
}